body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drag_n_drop_context {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  color: white; */
}

.droppable_column {
  padding: 4px;
  width: 250px;
  min-height: 500px;
  background-color: rgb(124, 164, 199);
}

.draggable_item {
  user-select: none;
  padding: 16px;
  margin: 0 0 8px 0;
  min-height: 50px;
  color: "white";
}

.droppable_column_header {
 min-height: 30px; 
 display: block;
 background-color: rgb(175, 97, 19);
}

.add_task_modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.add_task_modal_content_closed{
  position: fixed;
  visibility: hidden;
    /* width: 0px;
    height: 0; */
}

.add_task_modal_content {
  position: fixed;
  top:0;
  overflow: hidden;
  display: block;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  margin-left: 20%;
  margin-top: 20%;
  transform: scale(1);
  transition: all 500ms ease-in-out;
}

.scrolled {
  background-color: rgb(120, 120, 120);
  opacity: 0.9;
}

.not_scrolled{
  background-color: rgb(43, 43, 43);
  border: none;
}

.main_nav {
  overflow: hidden;
  color: white;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.main_nav a {
  float: left;
  min-height: 60px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main_nav a:hover {
  background-color: rgb(173, 141, 141);
  color: white;
}

.main_nav a.active {
  background-color: rgb(175, 97, 19);
  color: white;
}

.main_nav .navbar_icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .main_nav a:not(:first-child) {
    display: none;
    transition: opacity 1s ease-out;
    /* opacity: 0; */
  }
  .main_nav a.navbar_icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .main_nav.responsive {
    position: relative;
  }
  .main_nav.responsive .navbar_icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main_nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Footer */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .75s;
}

.footer-distributed .footer-right a:hover{
  transform: rotateX(180deg) rotateZ(180deg);
  -webkit-transform: rotateX(180deg) rotateZ(180deg);
}

.footer-distributed p.footer-links a:hover{
  text-decoration:underline;
}

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

#open_task_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color:  rgba(41, 41, 41, 0.495);
}

#open_task_modal {
  padding: 15px;
  min-width: 300px;
  position: fixed;
  width: 60%;
  /* height: 60%; */
  left: 20%;
  top: 10%;
  background-color: #f2f2f2;
}